@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #241c2d;
}

@font-face {
  font-family: "barlowlight";
  src: url("/src/assets/fonts/Barlow-Light.ttf");
}

@font-face {
  font-family: "barlowBold";
  src: url("/src/assets/fonts/Barlow-Bold.ttf");
}
@font-face {
  font-family: "barlowMedium";
  src: url("/src/assets/fonts/Barlow-Medium.ttf");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
